version: '3.8'

services:
  # 1. RabbitMQ Message Broker
  rabbitmq:
    container_name: rabbitmq
    image: rabbitmq:3-management
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - "5672:5672"   # AMQP port for applications
      - "15672:15672" # Management UI (http://localhost:15672)
    networks:
      - my-microservice-network

  # 2. Zipkin Distributed Tracing Server
  zipkin:
    container_name: zipkin
    image: openzipkin/zipkin
    ports:
      - "9411:9411" # Zipkin Web UI (http://localhost:9411)
    networks:
      - my-microservice-network

  # 3. Company Database (PostgreSQL)
  companydb:
    container_name: companydb
    image: postgres:15
    environment:
      POSTGRES_USER: companyuser
      POSTGRES_PASSWORD: companypass
      POSTGRES_DB: companydb
    ports:
      - "5432:5432"
    networks:
      - my-microservice-network
    volumes:
      - company-data:/var/lib/postgresql/data

  # 4. Reviews Database (PostgreSQL)
  reviewdb:
    container_name: reviewdb
    image: postgres:15
    environment:
      POSTGRES_USER: reviewuser
      POSTGRES_PASSWORD: reviewpass
      POSTGRES_DB: reviewdb
    ports:
      - "5433:5432"
    networks:
      - my-microservice-network
    volumes:
      - review-data:/var/lib/postgresql/data

  # 5. Job Database (PostgreSQL)
  jobdb:
    container_name: jobdb
    image: postgres:15
    environment:
      POSTGRES_USER: jobuser
      POSTGRES_PASSWORD: jobpass
      POSTGRES_DB: jobdb
    ports:
      - "5434:5432"
    networks:
      - my-microservice-network
    volumes:
      - job-data:/var/lib/postgresql/data

  # 5. Security Database (PostgreSQL)
  Securitydb:
    container_name: Securitydb
    image: postgres:15
    environment:
      POSTGRES_USER: security
      POSTGRES_PASSWORD: securitypass
      POSTGRES_DB: Securitydb
    ports:
      - "5435:5432"
    networks:
      - my-microservice-network
    volumes:
      - security-data:/var/lib/postgresql/data

# Define the network
networks:
  my-microservice-network:
    external: true

# Define volumes for persistent storage
volumes:
  company-data:
  review-data:
  job-data:
  security-data: